<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>
    Pan Card Tampering Detection
  </title>
</head>

<body>

  <h1>Pan Card Tampering Detection</h1>

  <form action='/' method="post" enctype="multipart/form-data">
    <input type="file" id="file_upload" name="file_upload" accept="image/*" />
    <button type=submit id="submit_button" disabled>Check Tampering</button>
  </form>

  <h5>{{result}}</h5>

  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>